$blue-color-nav: #264f8e;
$text-white: #fff;
$nav-2-color: #f5f5f5;
$nav-2-text-grey: #696969;
$paz-yellow: #fbb626;
$dark-grey: #8e8e8e;
$med-grey: #eeeeee;
$light-blue-nav: #0176c2;
$border-gallery: #e8e8e8;
$gallery-button-text: #6a6a6a;
$mobile-text-color: #4d4d4d;

// font vars

$main-font: Rubik;