@import "color-palette.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=hebrew');
$screen-md-min: 992px;

body {
	font-family: $main-font;
}


button {
	border: none;
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-family: inherit;
    cursor:pointer;
}

.container{
	width: 1320px;
	max-width: 100%;
}

header {
		// nav 1 //

	.main-nav {
		height: 188px;
		background-color: $blue-color-nav;
		
		.top-sec-nav {
			padding:0;
			.logo {
				img {
					width: 115px;
					@media (max-width: $screen-md-min) { 
						width: 170px;
					}	
				}
			}
		}

		.lng {
			color: $text-white;
			font-size: 17px;
			cursor:pointer;
		}

		.search {
			img { 
				width: 30px;
				cursor:pointer;
				@media (max-width: $screen-md-min) { 
					width: 57px;
					margin-left: 30px;
				}	
			}
		}

		.nav-mobile {
			img{
				@media (max-width: $screen-md-min) { 
					width: 60px;
					margin-right: 30px;
				}
			}
		}
	}
}

.low-sec-nav {
	padding: 0;

	.nav-1 {
		padding: 0;

		ul {
			list-style: none;
			color: $text-white;
			font-size: 17px;
			height: 70px;
			width: 100%;
			margin: 0;
			padding: 0;

			li {
				&:hover {
					color: $paz-yellow;
					border-bottom: 4px solid $paz-yellow;
					padding-top: 4px;
				}
				border: 1px solid $text-white;
				a {
					color:inherit;
	
				}
			}
		}
	}
}

// nav 2 //
.nav-2 {	
	background-color: $nav-2-color;
	height: 100px;
	@media (max-width: $screen-md-min){
		height: 210px;
	}
	.container {
		.nav-icon-round-mobile {
			margin-right: auto;
		} 
		padding: 0;
		height: 100%;
		.mobile-menu{
			height: 100%;
			margin-left: 20px;
			button{
				background-color: $nav-2-color;
				img{
					height: 60px;
					width: 60px;
				}
				p {
					font-family: $main-font;
					color: $light-blue-nav;
					font-size: 24px;
				}
			}
		}
	}
	
	.sub-nav-buttons {
		height: 100%;
		padding-left: 0;
		width: 330px;
	}
	.left-buttons {
		.button {
			height: 100%;
			width: 164px;
			@media (max-width: $screen-md-min){
				background-color: $nav-2-color;
				font-size: 17px;
			}

			img {
				height: 32px;
				@media (max-width: $screen-md-min){
					margin-bottom: 10px;
				}
			}
	
			p {
				font-family: $main-font;
				color: $light-blue-nav;
				font-size: 17px;
				margin: 0;
				text-align: right; 
				line-height: 21px;
				@media (max-width: $screen-md-min){
					text-align: center;
					font-size: 24px;
				}
			}
		}

		.button-1 {

			margin-right: 3px;
			img {
				height: 32px;
				@media (max-width: $screen-md-min){
					width: 36px;
					height: 55px;
				}
			}
		}

		.button-2 {
			img {
				height: 30px;
				@media (max-width: $screen-md-min){
					width: 57px;
					height: 57px;
				}
			}
		}
	}
	.sub-nav-1 {
		font-size:15px;
		font-weight: 500;
		list-style: none;
		direction: rtl;
		@media (max-width: $screen-md-min){
			display: none;
		}

		li {
			a {
				color: $dark-grey;
				line-height: 15px;
				padding: 0;
			}
			padding: 0 20px;
			border-left: 1px solid $dark-grey;
			&:first-child {
				padding-right: 0;	
			} 
			&:last-child{
				border-left: none;
			}
		}
	}

	.paz-logo-nav-2 {
		margin-left: 40px;
		img {
			width: 225px;
			@media (max-width: $screen-md-min) { 
				width: 370px;
				margin-right: 40px;
			}	
		}
	}
}

// top-section //

.top-section {
	direction: rtl;
	padding: 0;

	.navbar {
		padding: 0;
	}

	.gallery {
		height: 435px;
		background-color: $blue-color-nav;
	}

	.gallery-nav-section {
		background-color: $med-grey;
		border-top: 8px solid $dark-grey;
		padding: 0;

		.gallery-nav {
			padding: 32px 0 0 0;

			.nav-text-con{
				box-sizing: border-box;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: center;
				@media (max-width: $screen-md-min){

				}

					img{
						padding-bottom: 20px;
						padding-left: 13px;
					}

					a{
						width: 100%;
					}

				.gallery-nav-text {
					//padding-top: 50px;
					height: 130px;
					background-color: $text-white;
					box-shadow: inset -8px -8px 0px 0px $med-grey;
					border-top: 20px solid $text-white;
					border-left: 10px solid $text-white;
				}

				li {
					flex-grow: 1;

					p {
						font-size: 17px;
						font-family: $main-font;
						color: $gallery-button-text;
					}

					h2 {
						font-size: 23px;
						font-family: $main-font;
						color: $gallery-button-text;
					}
				}
			}
		}	
	}
}
