@import "color-palette.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=hebrew');

body {
	font-family: $main-font;
}

header {
		// nav 1 //

	.main-nav {
		height: 188px;
		background-color: $blue-color-nav;
		.top-sec-nav {
			padding-top: 1.5em;

			.nav-mobil{
				img {
					display: none;
				}
			}
		}
		.lng {
			color: $text-white;
			font-size: 17px;
		}
	}
}

.low-sec-nav {
	.nav-1 {
		padding-bottom: -3em;
		ul {
			list-style: none;
			color: $text-white;
			font-size: 17px;
			padding-top: 2em;

			li {
				border: 1px solid $text-white;
				padding: 1em;
				width: 6.5em;
				a {
				color:inherit;
				}
			}
		}
		@media only screen and (max-width: 480px) {
				display: none;
		}
	}
}

        // nav 2 //
.nav-2 {
	background-color: $nav-2-color;
	
	ul {
		list-style: none;

		li:nth-child(n+1){
			color: $nav-2-text-grey;
			font-family: $main-font;
			font-size: 12px;
		}
	}

	img {
		width: 225px;
		height: 55px;
	}

	@media only screen and (max-width: 480px) {
				display: none;
	}
}

