@import "color-palette.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=hebrew');
$screen-xs-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1320px;

body {
	font-family: $main-font;
	border-bottom: 5px solid $icons-yellow;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}


button {
	border: none;
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-family: inherit;
    cursor:pointer;
    @media (max-width: $screen-xs-min) { 
		padding: 0;
		margin: 0;
	}		
}

.container{
	width: 1320px;
	max-width: 100%;
	padding: 0;
}

header {
		// nav 1 //

	.main-nav {
		height: 188px;
		background-color: $blue-color-nav;
		@media (max-width: $screen-md-min) { 
			height: 120px;
		}

		@media (max-width: $screen-xs-min) { 
			height: 80px;
		}		
		
		.top-sec-nav {
			padding:0;
			.logo {
				.pazlogo {
					width: 115px;
					@media (max-width: $screen-md-min) { 
						width: 70px;
					}
					@media (max-width: $screen-xs-min) { 
						width: 55px;
					}		
				}
			}
		}

		.lng {
			color: $text-white;
			font-size: 17px;
			cursor:pointer;
		}

		.search {
			img { 
				width: 30px;
				cursor:pointer;
				@media (max-width: $screen-md-min) { 
					width: 57px;
				}
				@media (max-width: $screen-md-min) { 
					width: 18px;
				}		
			}
		}

		.manu-mobile {
			img{
				@media (max-width: $screen-md-min) { 
					width: 26px;
					margin-right: 30px;
				}
				@media (max-width: $screen-xs-min) { 
					width: 20px;
					margin-right: 0;
				}
			}
		}
	}
}

.low-sec-nav {
	padding: 0;

	.nav-1 {
		padding: 0;

		ul {
			color: $text-white;
			font-size: 17px;
			height: 70px;

			li {
				&:hover {
					color: $paz-yellow;
					border-bottom: 4px solid $paz-yellow;
					padding-top: 4px;
				}
				border: 1px solid $text-white;
				a {
					color:inherit;
	
				}
			}
		}
	}
}

// nav 2 //
.nav-2 {	
	background-color: $nav-2-color;
	height: 100px;
	@media (max-width: $screen-md-min){
		height: 210px;
	}
	@media (max-width: $screen-xs-min){
		height: 70px;
	}
	.container {
		height: 100%;
		.l-side-gray-nav {
			padding-left: 0;
			@media (max-width: $screen-xs-min) { 
				padding: 0
			}
			
				.left-buttons {
					padding-left: 0;
					@media (max-width: $screen-xs-min) { 
						width: 100%;
						padding: 0
					}
					.button {
						direction: rtl;
						height: 100%;
						width: 164px;
						@media (max-width: $screen-xs-min) { 
							background-color: $nav-2-color;
							width: 100%;
						}

						img {
							height: 32px;
							@media (max-width: $screen-xs-min){
								margin: 0;
							}
						}
				
						p {
							font-family: $main-font;
							color: $light-blue-nav;
							font-size: 17px;
							margin: 0;
							text-align: right; 
							line-height: 21px;
							@media (max-width: $screen-xs-min) { 
								font-size: 10px;
								text-align: center;
								line-height: 15px;
							}
						}
					}

					.button-3 {
						padding: 0;
						height: 100%;
						background-color: $nav-2-color;

						img {
							height: 60px;
							width: 60px;
							@media (max-width: $screen-xs-min) { 
							width: 20px;
							height: 18px;
							}
						}
					}

					.button-1 {
						margin-right: 3px;
						@media (max-width: $screen-xs-min) { 
							margin-right: 0;
							padding: 0 18px 0 18px;
						}
						img {
							height: 32px;
							@media (max-width: $screen-xs-min) { 
								width: 11.8px;
								height: 18px;
							}
						}
					}

					.button-2 {
						img {
							height: 30px;
							@media (max-width: $screen-xs-min) { 
								width: 18px;
								height: 18px;
							}
						}
					}
				}
		}
		.r-side-gray-nav {
			padding-right: 0;
			@media (max-width: $screen-xs-min) { 
				padding: 0;
			}
			.sub-nav-1 {
				font-size:15px;
				font-weight: 500;
				list-style: none;
				direction: rtl;
				@media (max-width: $screen-md-min){
					display: none;
				}

				li {
					a {
						color: $dark-grey;
						line-height: 15px;
						padding: 0;
					}
					padding: 0 20px;
					border-left: 1px solid $dark-grey;
					&:first-child {
						padding-right: 0;	
					} 
					&:last-child{
						border-left: none;
					}
				}
			}

			.paz-logo-nav-2 {
				padding-left: 24px;
				@media (max-width: $screen-xs-min) { 
					margin:0 0 0 8px;
				}

				img {
					width: 235px;
					
					@media (max-width: $screen-xs-min) { 
						width: 126px;
					}	
				}
			}
		}
	}
}

// top-section //

.top-section {
	direction: rtl;
	padding: 0;

	.navbar {
		padding: 0;
	}

	.gallery {
		height: 435px;
		background-color: $blue-color-nav;
		text-align: center;
		@media (max-width: $screen-md-min){
			height: 1270px;	
		}
		@media (max-width: $screen-xs-min) { 
			height: 301px;
		}	
	}

	.form {
		height: 996px;
		background-color: $paz-yellow;
		text-align: center;
		@media (max-width: $screen-xs-min) { 
			height: 334px;
		}	
	}

	.gallery-nav-section {
		background-color: $med-grey;
		border-top: 8px solid $dark-grey;
		padding: 0;
		@media (max-width: $screen-md-min){
			border: none;
			padding-top: 100px;
			background-color: $text-white;
			@media (max-width: $screen-xs-min) {
				padding-top: 32px;
			}
		}

		.gallery-nav {
			@media (min-width: $screen-md-min){

			}

			.nav-text-con {
				box-sizing: border-box;
				@media (max-width: $screen-md-min){
					padding-top: 30px;
				}
				@media (max-width: $screen-xs-min) {
					padding: 0px 0px 20px 0px;
				}
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: center;
				li {
					a {
						width: 100%;
					}

					&:hover {
						.background-icon {
							transform: scale(1.2);
							@media (max-width: $screen-xs-min) {
								transform: scale(1.1);
							}
						}

						.gallery-nav-text {
							box-shadow: inset -8px -8px 0px 0px $paz-yellow;
							@media (max-width: $screen-xs-min) {
								box-shadow: inset -4px -4px 0px 0px $paz-yellow;
							}
						}

					}
				}
				
				
					.icons-mobile {
						padding: 30px 0 50px 0;
						@media (max-width: $screen-md-min){
							background-color: $med-grey;
							height: 575px;
						}
						@media (max-width: $screen-xs-min) {
							height: 190px;
							width: 280px;
							padding: 0;
							margin: auto;
						}

						.background-icon {
							width: 138px;
							height: 138px;
							background-color: #0070af;
							border-radius: 50%;
							border: 5px solid $text-white;
							box-shadow: 8px 8px 10px 0px $icon-shadow-color;
						
							@media (max-width: $screen-md-min){
								width: 158.9px;
								height: 158.9px;
							}

							@media (max-width: $screen-xs-min) {
								width: 158.9px;
								padding: 0;
							}	

							.wash-icon {
								width: 78%;
							}

							.fix-icon {
								padding-left: 2px;
							}
						}
						
					}

					img{
						@media (max-width: $screen-md-min){

						}
					}

					a {
						text-decoration: none;
					}

				.gallery-nav-text {
					height: 130px;
					background-color: $text-white;
					box-shadow: inset -8px -8px 0px 0px $med-grey;
					border-top: 20px solid $text-white;
					border-left: 10px solid $text-white;
					@media (max-width: $screen-md-min){
						height: 290px;
					}
					@media (max-width: $screen-xs-min) {
						width: 280px;
						height: 93px;
						box-shadow: inset -4px -4px 0px 0px $med-grey;
						border-top: 14px solid $text-white;
						border-left: 7px solid $text-white;
					}
				}

				li {
					flex-grow: 1;

					p {
						font-size: 17px;
						font-family: $main-font;
						color: $gallery-button-text;
						@media (max-width: $screen-md-min){
							font-size: 22px;
							color: $mobile-text-color;
						}
						@media (max-width: $screen-xs-min) {
							width: 260px;
							height: 34px;
							font-family: $main-font;
							font-size: 12px;
							line-height: 1.42;
							letter-spacing: 1.6px;
							text-align: center;
							color: $mobile-text-color;
						}
					}

					h2 {
						font-size: 23px;
						font-family: $main-font;
						color: $gallery-button-text;
						@media (max-width: $screen-md-min){
							font-size: 27px;
							color: $mobile-text-color;
						}
						
						@media (max-width: $screen-xs-min) {
							width: 260px;
							height: 20px;
							font-family: $main-font;
							font-size: 17px;
							line-height: 1.18;
							letter-spacing: 1.6px;
							text-align: center;
							color: $mobile-text-color;
						}
					}
				}
			}
		}	
	}
}

// bottom-section //

.bottom-section {
	text-align: center;
	.mishpatiot-player {
		padding: 0;
		margin-top: 35px; 	
		height: 120px;
		background-color: $nav-2-color;
		@media (max-width: $screen-xs-min) {
			height: 195px;
		}
	}

	.logo-gallery {
		padding: 0;
		border-bottom: 8px solid $med-grey;
		height: 120px;
		@media (max-width: $screen-xs-min) {
			height: 107px;
			border-bottom: solid 5px $med-grey;
		}
	}

	footer {
		@media (max-width: $screen-xs-min) {
			background-color: $nav-2-color;
		}
		.top-footer {
			height: 260px;
			border-bottom: 1px solid $footer-lines;
			@media (max-width: $screen-xs-min) {
				border: none;
				height: 100%;
			}

			.left-footer {
				padding: 0 0 0 40px;
				direction: rtl;
				@media (max-width: $screen-xs-min) {
					display: none;
				}

				ul {
					font-size: 20px;
					color: $nav-2-text-grey;
					padding:0;
	
					a {
						padding: 26.5px 25px;
						color: $nav-2-text-grey;
						&:nth-child(-n+3) {
						border-left: 1px solid $footer-lines;
						}
					}
						img {
							margin-bottom: 10px;
							height: 33px;
						}
				}
			}

			.top-footer-mobile {
				opacity: 0.8;
				font-size: 13px;
				line-height: 1.92;
				letter-spacing: 1.5px;
				text-align: center;
				color: $nav-2-text-grey;
				font-weight: 400;
				margin: 0 auto;
				padding: 25px 0px 0px 0px;

				a {
					text-decoration: none;
					color: inherit;
					border-left: 1px solid $footer-lines;
					padding: 0 0 0 8px;
				}
				
				.last-in-row {
					border: none;
					padding: 0 3px 0 0;
				}

				.odot {
					padding: 0 3px 0 8px;
				}
			}

			.footer-icon-nav-mobile {
				direction: rtl;
				padding: 0 20px;
				margin: 30px 0;

				.icon-h {
					font-size: 15px;
					text-align: center;
					color: $nav-2-text-grey;
					margin-top: 9px;
				}

				.icon-h-2{
					font-size: 15px;
					text-align: center;
					color: $nav-2-text-grey;
					margin-top: 11px;
				}

				.icon-h-3{
					font-size: 15px;
					text-align: center;
					color: $nav-2-text-grey;
					margin-top: 7.5px;
				}

				.top {
					height: 100%;

					.top-t, .bottom-t {
						padding: 0;
					}
					
					.icon1 {
						width: 35px;
					}

					.icon2 {
						width: 20px;
					}
				}	
				.bottom {
					height: 100%;
					margin-top: 45px;

					.top-b, .bottom-b {
						padding: 0;
					}

					.icon3 {
						width: 24px;
					}

					.icon4 {
						width: 34.3px;
					}	
				}	
			}
			.right-footer {
				direction: rtl;
				padding:0 35px 0 0;
				@media (max-width: $screen-xs-min) {
					display: none;
				}

				.r-ul{
					margin-left: 32px;
				}

				ul {
					width: 165px;
					text-align: right;
					font-size: 15px;
					font-weight: 600;
					color: $nav-2-text-grey;
					border-left: 1px solid $footer-lines;

					a {
						color: $nav-2-text-grey;

						li {
							line-height: 32px;
						}
					}
				}
			}
		}

		.bottom-footer {
			text-decoration: none;
			direction: rtl;
			height: 100px;
			@media (max-width: $screen-xs-min) {
				height: 100%;
			}

			.trademark {
				padding: 0 35px 0 0;
				img {
					width: 61px;
				}

				p {
					margin-bottom: 0;
				}	

				@media (max-width: $screen-xs-min) {
					padding: 0;
					margin: 21px 0;
					img {
						width: 33px;
					}
					p {
						font-size: 10px;
						color: $nav-2-text-grey;
						padding-top: 5px;
					}
				}
			}

			.footer-nav {
				@media (max-width: $screen-xs-min) {
					padding: 0 9px 16px 0;
					border-bottom: 1px solid $footer-lines;
				}
				padding: 0;

				a {
					
					.last {
						padding: 0;
						border: none;
						@media (max-width: $screen-xs-min) {
								padding: 0;
						}
					}

					li {

						border-left: 1px solid $footer-lines;
						font-size: 15px;
						font-weight: 600;
						color: $nav-2-text-grey;

						&:nth-child(-n+2) {
					 		padding: 0 30px 0 30px;
					 		@media (max-width: $screen-xs-min) {
								padding: 0 0 0 9px;
							}
						}

						@media (max-width: $screen-xs-min) {
							opacity: 0.8;
							font-size: 13px;
							letter-spacing: 1.5px;
							text-align: center;
							color: $nav-2-text-grey;
							text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
							font-weight: 400;
						}
					}
				}
			}
		}
	}
} 
