@import "color-palette.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=hebrew');

header {
	height: 188px;
	background-color: $blue-color-nav;
	.top-sec-nav {
		padding-top: 1.5em;
	}
	.lng {
		color: $text-white;
		font-family: Rubik;
		font-size: 17pt;
	}
}

.low-sec-nav {
	ul {
		list-style: none;
		color: $text-white;
		font-family: Rubik;
		font-size: 17pt;
		
		a {
			color:inherit;
		}

		li {
			border-color: $text-white;
		}
	}
}

